@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Keania+One&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    background-color: #461A66;
}

h1{
    font-family: 'Keania One', sans-serif;
    text-align: center;
    text-decoration: underline;
    color: chocolate;
}

ul{
    font-family: 'Kaushan Script', cursive;
    color:chocolate;
    font-size: 2.5vw;
}

.close-btn {
    position: absolute;
    right: 1vw;
    top: 1vh;
}

.close-btn:hover {
    cursor: pointer;
}

.close-btn img {
    width: 5vw;
}

@media screen and (max-width: 480px) {
    ul {
        font-size: 2.8vh;
    }
    .close-btn img {
        width: 6vh;
    }
}