*, *::after, *::before {
    box-sizing: border-box;
}

:root{  /*selecting root element to change html, css in whole page*/
    --hue: 200;
    --saturation: 50%;
    --foreground-color: hsl(var(--hue), var(--saturation), 75%);
    --background-color: hsl(var(--hue), var(--saturation), 20%);
}

body{
    margin: 0;
    background-color: var(--background-color);
    overflow: hidden;
}

.paddle{
    --position: 50; /* CSS Variable */

    position: absolute; /* to position the paddle according to us */
    background-color: var(--foreground-color);
    top: calc(var(--position) * 1vh);  /*as we will set it later in javascript*/
    transform: translateY(-50%);  /*to make the center of the paddle at centre of the screen*/
    width: 1vh;
    height: 10vh; /* 10% of the height of screen */
}

.paddle.left{
    left: 1vw;  /* 1% left of the screen */
}

.paddle.right{
    right: 1vw; /* 1% right of the screen */
}

.ball{
    --x: 50;  
    --y: 50;  /*as it has to move in both x and y directions, so both variables are needed*/

    position: absolute;
    background-color: var(--foreground-color);
    left: calc(var(--x) * 1vw); /*width in terms of vw*/
    top: calc(var(--y) * 1vh); /*height in terms of vh*/
    transform: translate(-50%, -50%);  /*to make the ball perfectly in centre of the screen*/
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%; /* got a perfect circle */
}

.score{
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 7vh;
    color: var(--foreground-color);
}

.score > * {  /* to select all direct children of score */
    /* flex-grow: 1;
    flex-basis: 0; */
    padding: 0 2vh;
    margin: 1vh 0;
    opacity: 0.5; /* to make it less visible than the main game-play */
}

.score > :first-child{
    text-align: right;
    border-right: 0.5vh solid var(--foreground-color);
}

.player-1, .player-2 {
    display: flex;
}

.player-1 span, .player-2 span{
    margin-left: 5vw;
    margin-right: 5vw;
}