@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Keania+One&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

:root{
    --hue: 275;
    --background-color: hsl(var(--hue), 60%, 25%);
}

body{
    background-color: var(--background-color);
}


    /* other color scheme body{
        width: 100vw;
        height: 100vh;
        animation: changeBg 10s linear infinite;
    }

    @keyframes changeBg{
        0% {
            background-color: hsl(275, 59%, 25%);
        }
        20% {
            background-color: #9c27b0;
        }
        40%{
            background-color: #009688;
        }
        60% {
            background-color: #2196f3;
        }
        80% {
            background-color: #ff5722;
        }
        90% {
            background-color: yellowgreen;
        }
        95%{
            background-color: #9c27b0;
        }
        100%{
            background-color: hsl(275, 59%, 25%)
        }

    } */

h1{
    font-family: 'Kaushan Script', cursive;
    color: white;
    text-align: center;
    font-size: 10vw;
}

/* styling play button */

.play-button h2{
   font-size: 5vh;
   font-family: 'Keania One', sans-serif;
   color: white;
}

.play-button img{
    width: 11vh;
}

.play-button{
    display: flex;
    background-color: hsla(137, 86%, 47%, 1);
    width: 25vh;
    height: 10vh;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: auto;
}

.play-button:hover{
    background-color: hsl(137, 61%, 50%);
    cursor: pointer;
}

/* media query for mobile screen */
@media screen and (max-width: 480px){
    h1{
        padding-top: 15vh;
    }
}
